<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pasteles</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>Sistema de gestion de pasteles</h1>
        <nav>
            <a href="/registro">Registrar Pastel</a>
            <a href="/lista">Ver Pasteles</a>
        </nav>
    </body>
</html>